body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            /* Here the numbers or letters is one way to have a color! */
            color: #555555;
            background-color: rgb(226, 226, 91);
        }

        li {
            font-size: 16px;
            font-style: italic;
            font-weight: normal;
        }

        a {color: maroon;
        text-decoration: none;
        }

        a:hover{ 
            /* This will change thing that your mouse will hover on and you can include font weight, size, dec, so on. It can be good to help people focus on it more. */
            text-decoration: underline;
            /* font-weight: bold;
            font-size: 18px; */
        }
        a:visited {
            color: blue;
            /* Here when you put what you want to be visited,in this case "a", it will change color when you press or visit it */
        }

        .resumeListHeading {
            font-weight: bold;
            font-style: normal;
        }

        .underline {text-decoration: underline; } 
        .bold {font-weight: bold; }
        .justify {text-align: justify; }

        .homebg {
            background-image: url(../Images/New\ York\ City.jpg);
            background-position: top left;
            /* background-repeat: ; */
        }
        .box1 {
            /* For box 1,2, and 3, we are using the title "box" just as practice, but normally you would write something different to make it easier to identity.*/
            border-width: 1px;
            border-style: solid;
            border-color: black;
          /* you can combine the width,style, and color into one statement using the by just using the attribute border */
            border: 1px solid black;

        }

         .box2 {
            padding: 5px;
        }

         .box3 {
            margin: 10px;
        }
        /* You can use class in various places */
        /* for example */
        .purpletext{
            color: purple;
        }
        